<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RecapProject</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <div class="dropdown show">
            <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Posts
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" routerLink="posts">Posts</a>
              <a class="dropdown-item" routerLink="posts/create">create</a>
              <a class="dropdown-item" href="#">Something else </a>
            </div>
          </div>
        </li>

        <li class="nav-item"><a class="nav-link" routerLink="articles" routerLinkActive="active">Articles</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="users">Users</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right" *ngIf="!auth">
      <li><a class="nav-link" routerLink="login"><span class="glyphicon glyphicon-user"></span>Login </a></li>
      <li><a class="nav-link" routerLink="register"><span class="glyphicon glyphicon-log-in"></span>Sign Up </a></li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="auth">

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="http://localhost:8000/storage/{{currentUser.image}}" class="rounded-circle z-depth-0"
            alt="avatar image">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">

      <li class="nav-link">
        <a class="nav-link" href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
      </li>

      <li class="nav-link">
        <a class="nav-link" href="javascript:void(0)" class="nav-item dropdown-item">settings</a>
      </li>
      <li class="dropdown-divider"></li>

      <li class="nav-link">
        <a class="nav-link" class="nav-item dropdown-item" href="" (click)="logout()">Log out</a>
      </li>
  </div>
  </li>
  </ul>
  </div>
</nav>
<router-outlet></router-outlet>