<div class="container">
<div class="row bootstrap snippets">
    <div class="col-md-12 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comment panel
                </div>
                <div class="panel-body">
                    <form  (submit)="create(body)">
                    <textarea class="form-control" placeholder="write a comment..." rows="3" #body></textarea>
                    <br>
                    <button type="submit" class="btn btn-info pull-right">Post</button>
                    <div class="clearfix"></div>
                    <hr>
                </form>
                    <ul class="media-list" *ngIf="pp">
                        <li class="media"  *ngFor="let item of pp.comments">
                            <a href="#" class="pull-left">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                    <strong class="text-success ">{{item.user.name}}</strong>
                                <span class="text-muted ">
                                    <small class="text-muted pull-right">{{item.created_at}}</small>
                                </span>
                                
                                <p>
                                   {{item.body}}
                                </p>
                            </div>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>  
</div>