<table class="table table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>state</th>
        <th>approve</th>
      </tr>
    </thead>
    <tbody>
        
       
        <tr *ngFor="let post of listposts">    
                <td> {{post.title}}</td>
                <td> {{post.body}}</td>
                <td> {{post.is_approved}}</td>
                <td *ngIf="!post.is_approved "> <button class="btn btn btn-primary  "  (click) ="approve(post.id)">Approve</button></td>
                <td *ngIf="post.is_approved"> <button class="btn btn btn-primary"  (click) ="disapprove(post.id)">Disapprove</button></td>
                <td > <button class="btn btn btn-primary "  (click) ="delete(post.id)">Delete</button></td>
              </tr>
     
     
    </tbody>
  </table>
  <div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">List of posts
      <small>Secondary Text</small>
    </h1>

    <!-- Project One -->
    <div *ngFor="let post of listposts">
    <div class="row" *ngIf="post.is_approved">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="http://localhost:8000/storage/{{post.file}}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
        <a class="btn btn-primary" href="posts/{{post.id}}">View Post</a>
      </div>
      
    </div>
    <!-- /.row -->
    <hr>
  </div>

  </div>
  <!-- /.container -->